$color--blue-20: #b7cefb;
$color--blue-40: #578cf5;
$color--blue-50: #266bf2;
$color--blue-60: #0d51d9;

$color--red-20: #f3bfbf;
$color--red-40: #e26969;
$color--red-50: #da3f3f;
$color--red-60: #c02525;

$color--gray-10: #f4f4f4;
$color--gray-20: #e0e0e0;
$color--gray-30: #c6c6c6;
$color--gray-40: #a8a8a8;
$color--gray-50: #8d8d8d;
$color--gray-60: #6f6f6f;
$color--gray-70: #525252;
$color--gray-80: #393939;
$color--gray-90: #262626;
$color--gray-100: #161616;

$color--black: #000000;
$color--white: #ffffff;
