@import "../assets/scss/colors";
@import "../assets/scss/typography";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  padding: 0 1rem;
  border: none;
  border-radius: 0.5rem;

  font: $text--heading-4;

  cursor: pointer;

  transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.primary {
    background-color: $color--blue-50;
    color: $color--white;

    &:hover {
      background-color: $color--blue-40;
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem $color--blue-20;
    }

    &:active {
      background-color: $color--blue-60;
    }
  }

  &.secondary {
    background-color: $color--white;
    border: 0.0625rem solid $color--gray-20;
    color: $color--gray-80;

    &:hover {
      background-color: $color--gray-10;
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem $color--gray-10;
    }

    &:active {
      background-color: $color--gray-20;
    }
  }

  &.full {
    width: 100%;
  }

  &.half {
    width: 50%;
  }

  svg {
    margin-right: 0.75rem;
  }

  &:focus {
    outline: none;
  }
}
