@import "../assets/scss/colors";
@import "../assets/scss/typography";

.input {
  display: flex;
  flex-direction: column;

  &__label {
    font: $text--heading-4;
    margin-bottom: 0.25rem;
  }

  &__field {
    display: block;
    height: 2.5rem;
    padding: 0 0.75rem;
    background-color: $color--gray-10;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    color: $color--gray-80;

    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
      box-shadow: inset 0 0 0 1px $color--gray-20;
    }

    &:focus {
      background-color: $color--white;
      box-shadow: inset 0 0 0 2px $color--blue-50;
    }

    &::placeholder {
      color: $color--gray-50;
    }
  }

  &__error {
    display: flex;
    margin-top: 0.25rem;

    font: $text--caption;
    color: $color--red-50;

    &-message {
      margin-left: 0.25rem;
    }
  }
}
